td{
    color: cyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 27px;
    text-align: justify;
}

a{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    text-align: right;
}
a:hover{
    color: crimson;
    font-size:30px;
    background-color: cadetblue;
}